* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cabin Sketch', cursive;
}

body {
    height: 100vh;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    background-image: url("https://i.imgur.com/na70TXP.jpg");
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#message {
    font-size: 50px;
}

#play {
    display:flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

#board{
    height: 600px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-image: url("https://i.imgur.com/3TJilee.jpg");
    border-radius: 5%;
}

.mancala {
    height: 15%;
    width: 100%
}

.mancala div {
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    background-image: url("https://i.imgur.com/zMKZarM.jpg");
    background-clip: content-box;
    border-radius: 20%;
}

#pits {
    height: 70%;
    width: 100%;
    display: flex;
}

.side{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.side div{
    flex-grow: 1;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    font-weight: bold;
    background-image: url("https://i.imgur.com/zMKZarM.jpg");
    background-clip: content-box;
    border-radius: 20%;
    cursor: pointer;
}

.turn-indicator{
    background-image: linear-gradient(
    to right,
    #d64c7f,#ee4758 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}

footer{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    height: 80px;
    width: 150px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 8px 16px 0 black, 0 6px 20px 0 black;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  }

@media only screen and (min-width:768px){
    header {
        height: 20%;
    }

    #message {
        font-size: 75px;
        font-weight: bold;
        text-align: center;
    }

    #board{
        height: 350px;
        width: 80%;
        max-width: 793px;
        flex-direction: row-reverse;
    }

    .mancala {
        height: 100%;
        width: 15%
    }

    #pits {
        height: 100%;
        width: 70%;
        flex-direction: column;
    }

    .side {
        width: 100%;
        height: 50%;
        flex-direction: row-reverse;
    }

    footer{
        height: 20%;
    }
}